.container {
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.nameColor {
  color: rgb(74 222 128);
}